body {
    background-color: rgba(38, 45, 57, 1);
    overflow: hidden;
    color: rgba(255, 255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    background-color: rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    flex-grow: 1;
}

.horizontal-list {
    overflow-x: auto;
    margin-left: -20px;
    margin-right: -20px;
}

.horizontal-list-wrap {
    display: table;
    padding: 0 20px;
}

.horizontal-list-item {
    display: table-cell;
    vertical-align: middle;
}

.horizontal-list-item:not(:last-child) {
    padding-right: 10px;
}

.vertical-list {
    padding: 20px;
}

.vertical-list .vertical-list-item {
    margin-bottom: 10px;
}