body {
    background-color: rgba(38, 45, 57, 1);
    overflow: hidden;
    color: rgba(255, 255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Nunito';
}

main {
    background-color: rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    flex-grow: 1;
}

.horizontal-list {
    overflow-x: auto;
    margin-left: -20px;
    margin-right: -20px;
}

.horizontal-list-wrap {
    display: table;
    padding: 0 20px;
}

.horizontal-list-item {
    display: table-cell;
    vertical-align: middle;
}

.horizontal-list-item:not(:last-child) {
    padding-right: 10px;
}

.vertical-list {
    padding: 20px;
}

.vertical-list-item {
    margin-bottom: 10px;
}

.section-title {
    color: rgba(152, 166, 195, 0.5);
    font-size: 16px;
    font-weight: 700;
}

.player-name {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 700;
}

input {
    width: 100%;
    display: block;
    background-color: rgba(128, 155, 225, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(128, 155, 225, 0.25);
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 8px 15px;
}

input::placeholder{
    color: rgba(135, 161, 185, 0.35);
}

input:focus{
    outline: none;
    border-color: rgba(135, 161, 185, 0.5);
} 

.login-button {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    display: block;
}

.login-button.white {
    color: black;
    background-color: white;
}

.player-score {
    position: relative;
    border: 2px solid rgba(128, 155, 225, 0.25);
    border-radius: 10px;
    padding: 12px 16px;
    padding-top: 14px;

    transition: background-color 0.5s, border-color 0.5s;
    -o-transition: background-color 0.5s, border-color 0.5s;
    -ms-transition: background-color 0.5s, border-color 0.5s;
    -moz-transition: background-color 0.5s, border-color 0.5s;
    -webkit-transition: background-color 0.5s, border-color 0.5s;
    transition-delay: 2s;
    -o-transition-delay: 2s;
    -ms-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -webkit-transition-delay: 2s;
}

.player-score.green {
    border-color: rgba(68, 182, 120, 1);
    background-color: rgba(68, 182, 120, 1);

    transition-duration: 0s;
    -o-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
}

.player-score.red {
    border-color: rgba(201, 49, 103, 1);
    background-color: rgba(201, 49, 103, 1);
}

.player-score.active {
    border-color: rgba(255, 255, 255, 1);
}

.player-score-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    color: white;
}

.player-score-value {
    font-weight: 900;
    font-size: 24px;
    line-height: 20px;
    margin-top: 7px;
    color: white;
}

.player-score .score {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 4px;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 4px;
}

.player-score.green .score, .player-score.red .score {
    display: block;
    animation: score 2.4s infinite ease-out;
}

.player-score.red .score {
    color: rgba(201, 49, 103, 1);
}

.player-score.green .score {
    color: rgba(68, 182, 120, 1);
}

@keyframes score {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    25% {
        opacity: 1;
    }
    
    95% {
        opacity: 0; 
    }

    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}