@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: rgba(38, 45, 57, 1);
    overflow: hidden;
    color: rgba(255, 255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Nunito';
}

main {
    background-color: rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    flex-grow: 1;
}

.horizontal-list {
    overflow-x: auto;
    margin-left: -20px;
    margin-right: -20px;
}

.horizontal-list::-webkit-scrollbar, main::-webkit-scrollbar {
    display: none;
}

.horizontal-list.topic-questions {
    padding: 12px 0px;
    background-color: rgba(0, 0, 0, 0.15);
}

.horizontal-list-wrap {
    display: table;
    padding: 0 20px;
}

.horizontal-list-item {
    display: table-cell;
    vertical-align: middle;
}

.horizontal-list-item:not(:last-child) {
    padding-right: 10px;
}

.vertical-list {
    padding: 20px;
}

.vertical-list-item:not(:last-child) {
    margin-bottom: 10px;
}

.section-title {
    color: rgba(152, 166, 195, 0.5);
    font-size: 16px;
    font-weight: 700;
}

.player-name {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 700;
}

textarea {
    min-height: 130px;
    min-width: 100%;
}

input, textarea {
    width: 100%;
    max-width: 100%;
    display: block;
    background-color: rgba(128, 155, 225, 0.1);
    border-radius: 10px;
    border: 1px solid rgba(128, 155, 225, 0.25);
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 8px 15px;
}

input::placeholder, textarea::placeholder {
    color: rgba(135, 161, 185, 0.35);
}

input:focus, textarea:focus {
    outline: none;
    border-color: rgba(135, 161, 185, 0.5);
} 

.button {
    width: 100%;
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
    display: block;
    color: black;
    background-color: white;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.button[data-disabled] {
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0.4);
}

.player-score {
    position: relative;
    border: 2px solid rgba(128, 155, 225, 0.25);
    border-radius: 10px;
    padding: 12px 16px;
    min-width: 70px;
    padding-right: 24px;
    padding-top: 14px;

    transition: background-color 0.5s, border-color 0.5s;
    -o-transition: background-color 0.5s, border-color 0.5s;
    -ms-transition: background-color 0.5s, border-color 0.5s;
    -moz-transition: background-color 0.5s, border-color 0.5s;
    -webkit-transition: background-color 0.5s, border-color 0.5s;
    transition-delay: 2s;
    -o-transition-delay: 2s;
    -ms-transition-delay: 2s;
    -moz-transition-delay: 2s;
    -webkit-transition-delay: 2s;
}

.player-score.green {
    border-color: rgba(68, 182, 120, 1);
    background-color: rgba(68, 182, 120, 1);

    transition-duration: 0s;
    -o-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -webkit-transition-duration: 0s;
}

.player-score.red {
    border-color: rgba(201, 49, 103, 1);
    background-color: rgba(201, 49, 103, 1);
}

.player-score.active {
    border-color: rgba(255, 255, 255, 1);
}

.player-score-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 12px;
    color: white;
}

.player-score-value {
    font-weight: 900;
    font-size: 24px;
    line-height: 20px;
    margin-top: 7px;
    color: white;
}

.player-score .score {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 4px;
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 4px;
}

.player-score.green .score, .player-score.red .score {
    display: block;
    animation: score 2.4s infinite ease-out;
}

.player-score.red .score {
    color: rgba(201, 49, 103, 1);
}

.player-score.green .score {
    color: rgba(68, 182, 120, 1);
}

@keyframes score {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    25% {
        opacity: 1;
    }
    
    95% {
        opacity: 0; 
    }

    100% {
        transform: translateY(-50px);
        opacity: 0;
    }
}

.question-score {
    padding: 11px 20px;
    padding-bottom: 8px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    color: white;
    display: block;
    background-color: rgba(128, 155, 225, 0.1);
    position: relative;
    overflow: hidden;
}

.question-score.topic-final[data-selected] {
    color: black;
    background-color: white;
}

.question-score.topic-final[data-removed] {
    display: none;
}

.question-score::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(128, 155, 225, 0.25);
    width: 50px;
    height: 14px;
    transform: translateX(-50%) rotate(40deg);
    -o-transform: translateX(-50%) rotate(40deg);
    -ms-transform: translateX(-50%) rotate(40deg);
    -moz-transform: translateX(-50%) rotate(40deg);
    -webkit-transform: translateX(-50%) rotate(40deg);
}

.pack-button {
    display: block;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(128, 155, 225, 0.1);
    position: relative;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.pack-button::after{
    content: '';
    width: 32px;
    height: 32px;
    position: absolute;
    right: 5px;
    background: url('../img/icons/arr-1.svg') no-repeat center center;
    background-size: contain;
}

.topic-name {
    font-weight: 900;
    font-size: 22px;
    color: white;
}

.room-button {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 12px 15px 12px 20px;
    background-color: rgba(128, 155, 225, 0.1);
    border-radius: 10px;
    position: relative;
}

.room-button::after {
    content: '';
    width: 32px;
    height: 32px;
    background-color: #fff;
    position: absolute;
    right: 12px;
    top: 50%;
    margin-top: -16px;
    background: url('../img/icons/arr-1.svg') no-repeat center center;
    background-size: contain;
}

.room-name {
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.room-details {
    font-weight: 700;
    font-size: 14px;
    color: rgba(135, 161, 185, 0.35);
}

.player-result {
    display: flex;
    align-items: center;
}

.header, .pack-questions {
    display: flex;
    align-items: center;
}

.img-button {
    padding: 14px 0px;
    background-color: rgba(128, 155, 225, 0.1);
    border-radius: 10px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.img-button img {
    height: 20px;
    display: inline-block;
}

.two-columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.player-result .column:not(.side) {
    flex-grow: 1;
}

.player-result .column.side {
    width: 90px;
    padding-right: 22px;
}

.player-result-place {
    padding-top: 7px;
    padding-bottom: 4px;
    border: 2px solid rgba(128, 155, 225, 0.25);
    border-radius: 10px;
    color: white;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
}

.player-result-place.yellow {
    border-color: rgba(228, 206, 0, 1);
    background-color: rgba(228, 206, 0, 1);
}

.player-result-name {
    font-weight: 700;
    font-size: 14px;
    color: white;
}

.player-result-score {
    font-weight: 800;
    font-size: 36px;
    color: white;
    line-height: 31px;
    margin-top: 5px;
}

.header .column:not(.side), .pack-questions .column:not(.side) {
    flex-grow: 1;
    padding: 0 10px;
}

.header .column:not(.side):first-child, .pack-questions .column:not(.side):first-child {
    padding-left: 0;
}

.header .column:not(.side):last-child, .pack-questions .column:not(.side):last-child {
    padding-right: 0;
}

.header .side, .pack-questions .side {
    width: 48px;
}

.window-title {
    font-weight: 800;
    font-size: 24px;
    color: white;
    text-align: center;
}

.two-columns .column {
    width: 50%;
}

.two-columns .column:first-child {
    padding-right: 10px;
}

.two-columns .column:last-child {
    padding-left: 10px;
}

.button.green {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(68, 182, 120, 1);
}

.button.red {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(201, 49, 103, 1);
}

.hint {
    display: block;
    font-weight: 700;
    font-size: 14px;
    color: rgba(152, 166, 195, 0.5);
    text-align: center;
}

input.search, textarea.search {
    background-color: transparent;
}

header, footer, main {
    position: relative;
}

header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

footer {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

header > .vertical-list, footer > .vertical-list {
    padding: 10px 20px;
}

footer > .vertical-list {
    padding-top: 16px;
}

.time-bar {
    top: 100%;
    left: 0;
    z-index: 3;
    position: absolute;
    height: 7px;
    width: 50%;
    background-color: white;
}

.question-text {
    color: white;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
}

.question-image {
    position: absolute;
    left: 0;
    top: 10px;
    right: 0;
    bottom: 10px;
}

.question-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main.center {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

main.center > div {
    margin: auto;
}

.final-topic {
    color: white;
    font-size: 38px;
    font-weight: 900;
}