<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frame</title>
    <link href="../src/css/reset.css" rel="stylesheet">
    <link href="../src/css/common.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="vertical-list">
            <div class="vertical-list-item">

                <div class="header">
                    <div class="column side">

                        <a href="#" class="img-button">
                            <img src="../src/img/icons/arr-left.svg" alt="">
                        </a>

                    </div>
                    <div class="column">

                        <div class="window-title">Раунд 1</div>

                    </div>
                    <div class="column side">

                        <a href="#" class="img-button">
                            <img src="../src/img/icons/delete.svg" alt="">
                        </a>

                    </div>
                </div>

            </div>
        </div>
    </header>
    <main>

        <div class="vertical-list">
            <div class="vertical-list-item">
                <div class="section-title">Теми</div>
            </div>

            <div class="vertical-list-item">
                <a class="pack-button" href="#">Тема 1</a>        
            </div>
            <div class="vertical-list-item">
                <a class="pack-button" href="#">Тема 2</a>        
            </div>
            <div class="vertical-list-item">
                <a class="pack-button" href="#">Тема 3</a>        
            </div>
            <div class="vertical-list-item">
                <a class="pack-button" href="#">Тема 4</a>        
            </div>
            <div class="vertical-list-item">
                <a class="pack-button" href="#">Тема 5</a>        
            </div>
            <div class="vertical-list-item">
                <a class="pack-button" href="#">Тема 1</a>        
            </div>
            <div class="vertical-list-item">
                <a class="pack-button" href="#">Тема 2</a>        
            </div>
            <div class="vertical-list-item">
                <a class="pack-button" href="#">Тема 3</a>        
            </div>
            <div class="vertical-list-item">
                <a class="pack-button" href="#">Тема 4</a>        
            </div>
            <div class="vertical-list-item">
                <a class="pack-button" href="#">Тема 5</a>        
            </div>
        </div>
        
    </main>
    <footer>

        <div class="vertical-list">
            <div class="vertical-list-item">
                <input type="text" placeholder="Тема">
            </div>

            <div class="vertical-list-item">
                <a class="button" href="#">Додати</a>
            </div>

            <div class="vertical-list-item">
                <div class="hint">Додання теми у раунд</div>
            </div>
        </div>

    </footer>

    <script src="../src/js/common.js"></script>
</body>
</html>