<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frame</title>
    <link href="../src/css/reset.css" rel="stylesheet">
    <link href="../src/css/common.css" rel="stylesheet">
</head>
<body>
    <header>
        
        <div class="header">
            <div class="column side">
                
                a

            </div>
            <div class="column">
                
                <div class="window-title">Назва</div>

            </div>
            <div class="column side">
                
                a

            </div>
        </div>

    </header>
    <main>

        <div class="vertical-list">
            <div class="vertical-list-item">



            </div>
        </div>
    
    </main>
    <footer>

        <br><br>

    </footer>

    <script src="../src/js/common.js"></script>
</body>
</html>