<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frame</title>
    <link href="../src/css/reset.css" rel="stylesheet">
    <link href="../src/css/common.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="vertical-list">
            <div class="vertical-list-item">

                <div class="header">
                    <div class="column side">

                        <a href="#" class="img-button">
                            <img src="../src/img/icons/arr-left.svg" alt="">
                        </a>

                    </div>
                    <div class="column">

                        <div class="window-title">Нова кімната</div>

                    </div>
                    <div class="column side">

                    </div>
                </div>

            </div>
        </div>
    </header>
    <main>

        <div class="vertical-list">
            <div class="vertical-list-item">
                <div class="section-title">Кімната</div>
            </div>
            <div class="vertical-list-item">
                <input type="text" placeholder="Назва кімнати">
            </div>
            <div class="vertical-list-item">
                <input type="text" placeholder="Пароль">
            </div>
            
            <br>
            
            <div class="vertical-list-item">
                <div class="section-title">Налаштування</div>
            </div>
            <div class="vertical-list-item">
                <input type="text" placeholder="Кількість гравців">
            </div>
            <div class="vertical-list-item">
                <input type="text" placeholder="Швидкість гри">
            </div>
            <div class="vertical-list-item">
                <input type="file" name="file" id="file" accept="">
                <label for="file" class="button download-pack">Завантажити пак</label>
            </div>

        </div>
        
    </main>
    <footer>

        <div class="vertical-list">
            <div class="vertical-list-item">
                <a class="button" href="#">Створити</a>
            </div>
            
            <div class="vertical-list-item">
                <div class="hint">Створення кімнати</div>
            </div>
        </div>

    </footer>

    <script>

        var input = document.getElementById('file')
        var label	 = input.nextElementSibling,
            labelVal = label.innerHTML;
        
        input.addEventListener( 'change', function( e )
        {
            var fileName = e.target.value.split( '\\' ).pop();

            if(fileName)
                label.innerHTML = fileName;
            else
                label.innerHTML = labelVal;
        });

    </script>

    <script src="../src/js/common.js"></script>
</body>
</html>