<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frame</title>
    <link href="../src/css/reset.css" rel="stylesheet">
    <link href="../src/css/common.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="vertical-list">
            <div class="vertical-list-item">

                <div class="header">
                    <div class="column side">

                        <a href="#" class="img-button">
                            <img src="../src/img/icons/arr-left.svg" alt="">
                        </a>

                    </div>
                    <div class="column">

                        <div class="window-title">Фінал</div>

                    </div>
                    <div class="column side">

                    </div>
                </div>

            </div>
        </div>
        <div class="time-bar"></div>
    </header>
    <main>

        <div class="vertical-list">
            <div class="vertical-list-item">
                <a class="question-score topic-final" id="topic-1" href="#" onclick="selectTopic(this)">Тема 1</a>
            </div>
            <div class="vertical-list-item">
                <a class="question-score topic-final" id="topic-2" href="#" onclick="selectTopic(this)">Тема 2</a>
            </div>
            <div class="vertical-list-item">
                <a class="question-score topic-final" id="topic-3" href="#" onclick="selectTopic(this)">Тема 3</a>
            </div>
            <div class="vertical-list-item">
                <a class="question-score topic-final" id="topic-4" href="#" onclick="selectTopic(this)">Тема 4</a>
            </div>
            <div class="vertical-list-item">
                <a class="question-score topic-final" id="topic-5" href="#" onclick="selectTopic(this)">Тема 5</a>
            </div>
        </div>
        
    </main>
    <footer>

        <div class="vertical-list">
            <div class="vertical-list-item">
                <a class="button" id="remove-topic-final" href="#" onclick="removeTopic()">Закреслити</a>
            </div>

            <div class="vertical-list-item">

                <div class="horizontal-list">
                    <div class="horizontal-list-wrap">
                        <div class="horizontal-list-item">
                            <div class="player-score">
                                <div class="player-score-name">Віталік</div>
                                <div class="player-score-value">3000</div>
                            </div>
                        </div>
                        <div class="horizontal-list-item">
                            <div class="player-score">
                                <div class="player-score-name">Андрій</div>
                                <div class="player-score-value">2500</div>
                            </div>
                        </div>
                        <div class="horizontal-list-item">
                            <div class="player-score">
                                <div class="player-score-name">Соломія</div>
                                <div class="player-score-value">700000</div>
                            </div>
                        </div>
                        <div class="horizontal-list-item">
                            <div class="player-score">
                                <div class="player-score-name">Аліна</div>
                                <div class="player-score-value">-1000</div>
                            </div>
                        </div>
                        <div class="horizontal-list-item">
                            <div class="player-score">
                                <div class="player-score-name">Таня</div>
                                <div class="player-score-value">4500</div>
                            </div>
                        </div>
                        <div class="horizontal-list-item">
                            <div class="player-score">
                                <div class="player-score-name">Віталік</div>
                                <div class="player-score-value">3000</div>
                            </div>
                        </div>
                        <div class="horizontal-list-item">
                            <div class="player-score">
                                <div class="player-score-name">Андрій</div>
                                <div class="player-score-value">2500</div>
                            </div>
                        </div>
                        <div class="horizontal-list-item">
                            <div class="player-score">
                                <div class="player-score-name">Соломія</div>
                                <div class="player-score-value">700000</div>
                            </div>
                        </div>
                        <div class="horizontal-list-item">
                            <div class="player-score">
                                <div class="player-score-name">Аліна</div>
                                <div class="player-score-value">-1000</div>
                            </div>
                        </div>
                        <div class="horizontal-list-item">
                            <div class="player-score">
                                <div class="player-score-name">Таня</div>
                                <div class="player-score-value">4500</div>
                            </div>
                        </div>
                        <div class="horizontal-list-item">
                            <div class="player-score">
                                <div class="player-score-name">Віталік</div>
                                <div class="player-score-value">3000</div>
                            </div>
                        </div>
                        <div class="horizontal-list-item">
                            <div class="player-score">
                                <div class="player-score-name">Андрій</div>
                                <div class="player-score-value">2500</div>
                            </div>
                        </div>
                        <div class="horizontal-list-item">
                            <div class="player-score">
                                <div class="player-score-name">Соломія</div>
                                <div class="player-score-value">700000</div>
                            </div>
                        </div>
                        <div class="horizontal-list-item">
                            <div class="player-score">
                                <div class="player-score-name">Аліна</div>
                                <div class="player-score-value">-1000</div>
                            </div>
                        </div>
                        <div class="horizontal-list-item">
                            <div class="player-score">
                                <div class="player-score-name">Таня</div>
                                <div class="player-score-value">4500</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="vertical-list-item">
                <div class="hint">Вибір теми фіналу</div>
            </div>
        </div>

    </footer>

    <script>
        const button = document.getElementById('remove-topic-final');
        const topics = document.getElementsByClassName('topic-final');
        let topic;

        button.setAttribute('data-disabled', '');

        function selectTopic(selectedTopic) {
            topic = selectedTopic;
            for (let i = 0; i < topics.length; i++) {
                topics[i].removeAttribute('data-selected');
            }
            selectedTopic.setAttribute('data-selected', '');
            button.removeAttribute('data-disabled');
        }

        function removeTopic(){
            topic.setAttribute('data-removed', '');
            topic.removeAttribute('data-selected');
        }
        
    </script>

    <script src="../src/js/common.js"></script>
</body>
</html>