<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pages</title>
    </head>
    <body>
        <h1>Pages</h1>
        <ul>
            <li><a href="base.html">base.html</a></li>
            <li><a href="enter-game.html">enter-game.html</a></li>
            <li><a href="rooms-list.html">rooms-list.html</a></li>
            <li><a href="create-pack.html">create-pack.html</a></li>
            <li><a href="add-round.html">add-round.html</a></li>
            <li><a href="topic-page.html">topic-page.html</a></li>
            <li><a href="add-question.html">add-question.html</a></li>
            <li><a href="player-room.html">player-room.html</a></li>
            <li><a href="waiting-room.html">waiting-room.html</a></li>
            <li><a href="player-game.html">player-game.html</a></li>
            <li><a href="question-text.html">question-text.html</a></li>
            <li><a href="question-image.html">question-image.html</a></li>
            <li><a href="answer-question.html">answer-question.html</a></li>
            <li><a href="waiting-question-result.html">waiting-question-result.html</a></li>
        </ul>
    </body>
</html>