<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frame</title>
    <link href="../src/css/reset.css" rel="stylesheet">
    <link href="../src/css/common.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="vertical-list">
            <div class="vertical-list-item">

                <div class="header">
                    <div class="column side">

                        <a href="#" class="img-button">
                            <img src="../src/img/icons/leave-game.svg" alt="">
                        </a>

                    </div>
                    <div class="column">

                        <div class="window-title">Кімнати</div>

                    </div>
                    <div class="column side">

                        <a href="#" class="img-button">
                            <img src="../src/img/icons/add-room.svg" alt="">
                        </a>

                    </div>
                </div>

            </div>
        </div>

    </header>
    <main>

        <div class="vertical-list">
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
            <div class="vertical-list-item">

                <a class="room-button" href="#">
                    <div class="room-name">Назва кімнати</div>
                    <div class="room-details">3 гравці</div>
                </a>

            </div>
        </div>

    </main>
    <footer>
        <div class="vertical-list">
            <div class="vertical-list-item">
            
                <div class="hint">Вибір кімнати</div>

            </div>
        </div>
    </footer>

    <script src="../src/js/common.js"></script>
</body>
</html>