<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frame</title>
    <link href="../src/css/reset.css" rel="stylesheet">
    <link href="../src/css/common.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="vertical-list">
            <div class="vertical-list-item">

                <div class="header">
                    <div class="column side">

                        <a href="#" class="img-button">
                            <img src="../src/img/icons/arr-left.svg" alt="">
                        </a>

                    </div>
                    <div class="column">

                        <div class="window-title">Кімната 1</div>

                    </div>
                    <div class="column side">

                    </div>
                </div>

            </div>
        </div>
    </header>
    <main>

        <div class="vertical-list">
            <div class="vertical-list-item">
                <div class="section-title">Назва кімнати</div>
            </div>

            <div class="vertical-list-item">
                <div class="player-name">Кімната 1</div>
            </div>

            <br>

            <div class="vertical-list-item">
                <div class="section-title">Гравці</div>
            </div>

            <div class="vertical-list-item">
                <div class="player-name">Віталік</div>
            </div>
            <div class="vertical-list-item">
                <div class="player-name">Андрій</div>
            </div>
            <div class="vertical-list-item">
                <div class="player-name">Соломія</div>
            </div>
            <div class="vertical-list-item">
                <div class="player-name">Аліна</div>
            </div>
            <div class="vertical-list-item">
                <div class="player-name">Віталік</div>
            </div>
            <div class="vertical-list-item">
                <div class="player-name">Андрій</div>
            </div>
            <div class="vertical-list-item">
                <div class="player-name">Соломія</div>
            </div>
            <div class="vertical-list-item">
                <div class="player-name">Аліна</div>
            </div>
        </div>
        
    </main>
    <footer>

        <div class="vertical-list">

            <div class="vertical-list-item">
                <div class="section-title">Ви увійшли</div>
                <div class="player-name">Гра скоро почнеться</div>
            </div>

            <div class="vertical-list-item">
                <div class="hint">Очікування початку гри</div>
            </div>
        </div>

    </footer>

    <script src="../src/js/common.js"></script>
</body>
</html>