<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frame</title>
  <link href="src/css/reset.css" rel="stylesheet">
  <link href="src/css/common.css" rel="stylesheet">
</head>
<body>
  <header>
    
    <br><br><br>

  </header>
  <main>

    <br><br><br>
    <div class="vlist">
      <div class="vlist-item">1</div>
      <div class="vlist-item">2</div>
      <div class="vlist-item">3</div>
    </div>
  
  </main>
  <footer>

    <br><br><br>

  </footer>

  <script src="src/js/common.js"></script>
</body>
</html>