<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Assets</title>
    </head>
    <body>
        <h1>Components</h1>
        <ul>
            <li><a href="vertical-list.html">vertical-list.html</a></li>
            <li><a href="horizontal-list.html">horizontal-list.html</a></li>
            <li><a href="input.html">input.html</a></li>
            <li><a href="login-button.html">login-button.html</a></li>
        </ul>
    </body>
</html>